<!-- blog/templates/blog/post_detail.html -->
{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <p class="meta">By {{ post.author }} on {{ post.created_at|date:"F j, Y, g:ia" }}</p>
  <div class="post-body">
    {{ post.content|linebreaks }}
  </div>

  <div class="post-actions">
    {% if user == post.author %}
      <a href="{% url 'blog:post-update' post.pk %}">Edit</a> |
      <a href="{% url 'blog:post-delete' post.pk %}">Delete</a>
    {% endif %}
    <a href="{% url 'blog:post-list' %}">Back to list</a>
  </div>
</article>
{% endblock %}
